doctype html
html(lang="en")
  head
    title Kajaaniskate sis채채nkirjautuminen
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css')
    style.
        body {
            font-family: 'Titillium Web', sans-serif;
            background-color: #e8e8e8;
        }


    script(type='text/javascript').
      // Listen for events from the parent window
      window.addEventListener('message', function(event) {
        console.log('Event received from the parent window!', event);

        // Send event back into it, if origin matches
        if (event.origin === '#{frontendUrl}') {
            event.source.postMessage('#{token}', '*');
            window.close();
        }
      }, false);

  body
    h1 Sis채채nkirjautuminen onnistui!
    p Ohjaamme sut justiinsa takaisin, hetki...
